
chain :
  user : "max32"
  ctime : "now"
  expire : 10000000
  links : [
    {
      type : "eldest"
      label : "e"
      key : gen : "eddsa"
    },
    {
      type : "subkey"
      label : "s"
      parent : "e"
      key : gen : "dh"
    }
  ]
