
chain :
  user : "max32"
  ctime : "now"
  expire : 10000000
  links : [
    {
      type : "eldest"
      label : "e"
      key : gen : "eddsa"
    },
    {
      type : "subkey"
      label : "s"
      key : gen : "dh"
      parent : "e"
    },
    {
      ctime : "+100"
      label : "sib1"
      type : "sibkey"
      key : gen : "eddsa"
      signer : "e"
    },
    {
      label : "sub1"
      type : "subkey"
      key : gen : "dh"
      parent : "sib1"
    }
  ]
