
chain :
  user : "max32"
  ctime : "now"
  expire_in : 10000000
  links : [
    {
      type : "eldest"
      label : "e"
      key : gen : "eddsa"
    },
    {
      type : "subkey"
      label : "s"
      parent : "e"
      key : gen : "dh"
    },
    {
      ctime : "+100"
      label : "sib1"
      type : "sibkey"
      key : gen : "eddsa"
      signer : "e"
    },
    {
      label : "sub1"
      type : "subkey"
      key : gen : "dh"
      parent : "sib1"
    },
    {
      label : "pgp"
      type : "sibkey"
      key : gen : "pgp_ecc"
      signer : "sib1"
      ctime : "+140"
    },
    {
      ctime : "+100"
      type : "revoke"
      signer : "sib1"
      revoke : key : "e"
    },
  ]
assertions : [
  { 
    type : "family",
    time : sum : [ "now", 94 ]
    subkeys : [ "s" ]
    sibkeys : [ "e" ]
    eldest : [ "e" ]
  },
  { 
    type : "family"
    time : sum : [ "now", 101 ]
    subkeys : [ "s", "sub1" ]
    sibkeys : [ "e", "sib1" ]
    eldest : [ "e" ]
  },
  { 
    type : "family"
    time : sum : [ "now", 204 ]
    subkeys : [ "s", "sub1" ]
    sibkeys : [ "sib1" ]
    eldest : [ "e" ]
  }
]

